# FastAPI settings
APP_HOST=192.168.1.63 # хост API
APP_PORT=8000 # порт API
APP_DEBUG=true # режим отладки
APP_TITLE=Springer Scrapper API # название API
APP_VERSION=0.1.0 # версия API

# OpenAI API
OPENAI_API_KEY=sk-... ключ OpenAI
OPENAI_MODEL=gpt-4o-mini # модель OpenAI
AI_TEMPERATURE=0.7 # температура генерации